{% extends 'shoppinglist/base.html' %}

{% block content %}
<h1>Enkle handlelister</h1>
<p>Her kan du lage enkle handlelister og dele dem med familiemedlemmer
  eller andre du handler sammen med. Du kan også enkelt planlegge middager
  for hele uka, og lage handlelisten ved siden av på samme skjermbilde om
  du jobber på en PC eller en tablet med stor nok skjerm.
</p>
<p>
I motsetning til de fleste nettsteder samler vi ikke inn informasjon om deg
for markedsføringsformål. Vi analyserer ikke handlelistene dine. Vi selger ikke
informasjon om deg videre. Vi bruker cookies, men kun for å holde styr på
innloggingen din, og for å sikre at ikke uvedkommende for tak i data du
legger inn. 
</p>


{% endblock %}
