{% extends 'shoppinglist/base.html' %}

{% block content %}
<h1>Velkommen</h1>

<p>Din bruker er nå opprettet og du kan gå til <a href="{% url 'userlogin' %}">
innlogging</a> for å opprette egne lister.</p>
<p>
I motsetning til de fleste nettsteder samler vi ikke inn informasjon om deg
for markedsføringsformål. Vi analyserer ikke handlelistene dine. Vi selger ikke
informasjon om deg videre. Vi bruker cookies, men kun for å holde styr på
innloggingen din, og for å sikre at ikke uvedkommende for tak i data du
legger inn.
</p>


{% endblock %}
